.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 60px;
}

.u-section-1 .u-text-2 {
  width: auto;
  font-weight: 700;
  margin: 33px auto 60px;
}

.u-section-1 .u-text-3 {
  width: auto;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin: -654px 32px 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
    margin-bottom: 0;
  }
}